<h1><%= @task.name %></h1>
<p id="totalTime">
  <%= @task.duration %>
</p>


<p>
  <% if @task.Working? %>
    <%= link_to 'Pause Task', pause_project_task_path(@task.project, @task) %>
  <% else %>
    <%= link_to 'Resume Task', resume_project_task_path(@task.project, @task) %>
  <% end %>  
   | <%= link_to 'End Task', root_path %>
</p>
