<h1><%= @task.name %></h1>
<h2>For project <%= link_to @project.name, @project %></h2>
<p id="totalTime">
  Estimated Duration: <%= @task.duration %>
</p>
<p >
  Actual Duration: <%= @task.actual_duration %>
</p>

<p>

    <%= link_to 'Pause Task', pause_project_task_path(@task.project, @task) if @task.Working? || @task.Scheduled? %>
    <%= link_to 'Resume Task', resume_project_task_path(@task.project, @task) if @task.Paused? %>
   | <%= link_to 'Complete Task', complete_project_task_path(@task.project, @task) unless @task.Completed? %>
</p>
