<div class="container">
  <h3><%= current_user.email %> - Dashboard</h3>

  <ul class="nav flex-column">
    <li class="nav-item text-left"> <span class="nav-link">Add Project <%= link_to fa_icon('plus'), new_project_path %></span> </li>
    <li class="nav-item text-left"><span class="nav-link">Clients <%= link_to fa_icon('users'), clients_path%></span></li>
    <li class="nav-item text-left"><span class="nav-link">Availability <small>(in hours)</small> <%=current_user.availability%> <%= link_to fa_icon('clock-o'), edit_user_registration_path%></span></li>
  </ul>
</div>
