<div class="container text-center">
  <h2><%= @project.name %></h2>
  <% if !@project.client.nil? %>
    <h4>Client: <%= @project.client.email %></h4>
  <% end %>
  <% if @project.Completed? %>
    <%= render 'completed_summary', project: @project %>
  <% else %>
    <%= render 'project_navigation', project: @project %>
  <% end %>
  <% if !@project.description.nil? %>
    <div class="card text-muted mt-3">
      <h4 class="card-header">Description</h4>
      <div class="card-block">
        <p><%= @project.description %></p>
      </div>
    </div>
  <% end %>


</div>
