
<ul class="nav flex-column">
  <li class="nav-item text-left"><i class="fa fa-calendar"></i> Start: <%= @project.start_date %></li>
  <li class="nav-item text-left">End: <%= @project.end_date %></li>
  <li class="nav-item text-left"><%= link_to 'Add a task', new_project_task_path(@project), class:"nav-link"%></li>
  <li class="nav-item text-left"><%= link_to 'Daily Report', project_tasks_path(@project), class:"nav-link" %></li>
  <li class="nav-item text-left"><%= link_to 'Mark as Complete ', complete_project_path(@project), class:"nav-link fa fa-check-square-o", id: "mark_complete_#{@project.id}" %></li>
  <li class="nav-item text-left" ><%= link_to 'Cancel Project', cancel_project_path(@project), class:"fa fa-ban nav-link", id: "mark_cancelled_#{@project.id}" %></li>
  <% if @project.Paused? %>
    <li class="nav-item text-left" ><%= link_to 'Resume Project', resume_project_path(@project),  class:"fa fa-play-circle nav-link", id: "resume_#{@project.id}" %></li>
  <% else %>
    <li class="nav-item text-left" ><%= link_to 'Pause Project', pause_project_path(@project),  class:"fa fa-pause-circle nav-link", id: "pause_#{@project.id}" %></li>
  <% end %>
</ul>
