<h1><%= @project.name %></h1>
<p>
<em>Starting: <%= @project.start_date %> Ending: <%= @project.end_date %></em>
</p>
<p>
  <%= link_to 'Add a task', new_project_task_path(@project) %>
</p>

<ul>
  <% @project.tasks.each do |task| %>
    <li> <%= task.name %> - <%= task.estimated_start_date %> - <%= task.estimated_end_date %> - <%= task.duration %> - <%= task.status %></li>
  <% end %>
</ul>
