<h1><%= @project.name %></h1>
<p>
<em>Starting: <%= @project.start_date %> Ending: <%= @project.end_date %></em>
</p>
<p>
  <%= link_to 'Add a task', new_project_task_path(@project) %>
</p>


<% @project.tasks.each do |task| %>
  <%= task.name %> - <%= task.estimated_start_date %> - <%= task.duration %> - <%= task.status %>
<% end %>
